*{
	/*força a mesma visualização em todos os navegadores */
	margin: 0;
	padding: 0;
}

body{
	background-color: #555;
	text-align: center;
}

#container{
	/*largura da carta em px + 5px de distância entre as cartas * quantidade de colunas + 5px distancia da primeira carta para borda*/
	width: 880px; 
	/*altura da carta em px X quantidade de linhas + 20px (5 topo, 5 entre cartas + 5 lateral + 5 baixo) */
	height: 620px;
	border: 1px solid #111;
	position: relative;
	margin: 10px auto;
	border-radius: 10px;
	background-image: url(../img/planoDeFundo.jpg);
}

.card{
	width: 120px;
	height: 150px;
	/*position absolute para poder manipular a div via javascript*/
	position: absolute;
	border-radius: 10px;
	perspective: 600px;
}

.face{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all 1s;
	backface-visibility: hidden;
}

.back {
	background-image: url(../img/verso.png);
}

.back.flipped {
	transform: rotateY(180deg);
}

.front {
	transform: rotateY(-180deg);	
}

.front.flipped {
	transform: rotateY(0deg);
}

.card:hover{
	box-shadow: 0 0 10px #aaa;
}

#modalFimJogo{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -2; /*profundidade do elemento*/
}

#imgFimJogo{
	margin-top:  100px;
}

.face.flipped.match{
	box-shadow: 0 0 10px #0f0;
}

#imgAcertou{
	position: relative;
	top: 250px;
	transition-property: top, opacity;
	transition-duration: 1.5s;
	opacity: 1;
	z-index: -1;
}